.node {
  width: 25px;
  height: 25px;
  margin: 1px;
  padding: 1px;
  outline: 1px solid rgb(235, 246, 255);
  display: inline-block;
}

.node-finish {
  background-color: #ff70a6;
}

.node-start {
  background-color: #efca08;
}

.node-visited {
  background-color: #00a6a6;
}

.node-shortest {
  background-color: #f49f0a;
}

.node-wall {
  background-color: #272838;
}
